In [1]:
# Data Wrangling, I
# Perform the following operations using Python on any open source dataset (e.g., data.csv)

# 1. Import all the required Python Libraries.

# 2. Locate an open source data from the web (e.g., https://www.kaggle.com). Provide a clear
#  description of the data and its source (i.e., URL of the web site).

# 3. Load the Dataset into pandas dataframe.

# 4. Data Preprocessing: check for missing values in the data using pandas isnull(), describe()
# function to get some initial statistics. Provide variable descriptions. Types of variables etc.
# Check the dimensions of the data frame.

# 5. Data Formatting and Data Normalization: Summarize the types of variables by checking
# the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the
# data set. If variables are not in the correct data type, apply proper type conversions.

# 6. Turn categorical variables into quantitative variables in Python.

In [30]:
# Necessary Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
# Loading dataset 
data = pd.read_csv("DELHI_METRO_DATA.csv")

In [12]:
# Dataset Description
data.describe()

         Latitude   Longitude
count  221.000000  221.000000
mean    28.560811   77.183246
std      0.723198    0.101508
min     17.920862   76.870085
25%     28.558581   77.107181
50%     28.622288   77.199336
75%     28.668945   77.260667
max     28.878965   77.528502

In [13]:
# Null Values if present
data.isnull()

     Station   Line  Latitude  Longitude
0      False  False     False      False
1      False  False     False      False
2      False  False     False      False
3      False  False     False      False
4      False  False     False      False
..       ...    ...       ...        ...
223    False  False     False      False
224    False  False     False      False
225    False  False     False      False
226    False  False     False      False
227    False  False     False      False

[228 rows x 4 columns]

In [14]:
# Total Null values in each column
data.isnull().sum()

Station      0
Line         0
Latitude     7
Longitude    7
dtype: int64

In [15]:
# Data Types
data.dtypes

Station       object
Line          object
Latitude     float64
Longitude    float64
dtype: object

In [16]:
# Shape of the data
data.shape

(228, 4)

In [17]:
data['Latitude'].isna().sum()

7

In [19]:
# Filling missing values

data['Latitude'].fillna(data['Latitude'].mean())

0      28.714401
1      28.566860
2      28.617842
3      28.646753
4      28.480735
         ...
223    28.686322
224    28.566976
225    28.695037
226    28.651718
227    28.623278
Name: Latitude, Length: 228, dtype: float64

In [20]:
# Null values in each column
data.isnull().sum()

Station      0
Line         0
Latitude     0
Longitude    7
dtype: int64

In [25]:
# Filling missing values

data['Longitude'].fillna(data['Longitude'].mean())

0      77.167288
1      77.207806
2      77.279488
3      77.318004
4      77.125762
         ...
223    77.221727
224    77.249191
225    77.214719
226    77.221939
227    77.267924
Name: Longitude, Length: 228, dtype: float64

In [24]:
data.isnull().sum()

Station      0
Line         0
Latitude     0
Longitude    0
dtype: int64

In [26]:
data.head()

            Station              Line   Latitude  Longitude
0      Adarsh Nagar       Yellow Line  28.714401  77.167288
1             AIIMS       Yellow Line  28.566860  77.207806
2        Akshardham         Blue Line  28.617842  77.279488
3  Anand Vihar ISBT  Blue Line branch  28.646753  77.318004
4        Arjan Garh       Yellow Line  28.480735  77.125762

In [32]:
# Converting Categorical to Quantitative
pd.get_dummies(data['Line'])

,Blue Line,Blue Line branch,Green Line,Green Line branch,Grey Line,Magenta Line,Orange Line,Pink Line,Red Line,Violet Line,Yellow Line
0,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,True
2,True,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
223,False,False,False,False,False,False,False,False,False,False,True
224,False,False,False,False,False,False,False,True,False,False,False
225,False,False,False,False,False,False,False,False,False,False,True
226,False,False,False,False,False,False,False,False,True,False,False
227,True,False,False,False,False,False,False,False,False,False,False

In [29]:
data.head()

            Station              Line   Latitude  Longitude
0      Adarsh Nagar       Yellow Line  28.714401  77.167288
1             AIIMS       Yellow Line  28.566860  77.207806
2        Akshardham         Blue Line  28.617842  77.279488
3  Anand Vihar ISBT  Blue Line branch  28.646753  77.318004
4        Arjan Garh       Yellow Line  28.480735  77.125762