<!-- Descriptive Statistics - Measures of Central Tendency and variability

Perform the following operations on any open source dataset (e.g., data.csv)
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for
a dataset (age, income etc.) with numeric variables grouped by one of the qualitative
(categorical) variable. For example, if your categorical variable is age groups and
quantitative variable is income, then provide summary statistics of income grouped by the
age groups. Create a list that contains a numeric value for each response to the categorical
variable.
2. Write a Python program to display some basic statistical details like percentile, mean,
standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’
of iris.csv dataset -->

In [2]:
import pandas as pd
import numpy as np

In [3]:
data= pd.read_csv('supermarket_sales.csv')
data.head(), data.shape

(    Invoice ID Branch       City Customer type  Gender  \
 0  750-67-8428      A     Yangon        Member  Female
 1  226-31-3081      C  Naypyitaw        Normal  Female
 2  631-41-3108      A     Yangon        Normal    Male
 3  123-19-1176      A     Yangon        Member    Male
 4  373-73-7910      A     Yangon        Normal    Male

              Product line  Unit price  Quantity   Tax 5%     Total       Date  \
 0       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019
 1  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019
 2      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019
 3       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019
 4       Sports and travel       86.31         7  30.2085  634.3785   2/8/2019

     Time      Payment    cogs  gross margin percentage  gross income  Rating
 0  13:08      Ewallet  522.83                 4.761905       26.1415     9.1
 1  10:29         Cash   76.40                 4.761905        3.8200     9.6
 2  13:23  Credit card  324.31                 4.761905       16.2155     7.4
 3  20:33      Ewallet  465.76                 4.761905       23.2880     8.4
 4  10:37      Ewallet  604.17                 4.761905       30.2085     5.3  ,
 (1000, 17))

In [4]:
data.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [5]:
# Group by 'City' and calculate summary statistics for 'TotalSales'
data.groupby('City')['Total'].describe()

,count,mean,std,min,25%,50%,75%,max
City,,,,,,,,
Mandalay,332.0,319.872506,242.447565,18.6375,119.936250,252.88200,465.585750,1022.49
Naypyitaw,328.0,337.099715,263.160870,10.6785,121.474500,271.41975,495.754875,1042.65
Yangon,340.0,312.354031,231.640025,12.6945,137.489625,240.82800,459.340875,1039.29

In [6]:
# Create a list of numeric values for each response to the categorical variable 'City'
data['City'].astype('category').cat.codes.unique().tolist()

[2, 1, 0]

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
iris = pd.read_csv('Iris.csv')
iris.head(), iris.shape

(   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
 0   1            5.1           3.5            1.4           0.2  Iris-setosa
 1   2            4.9           3.0            1.4           0.2  Iris-setosa
 2   3            4.7           3.2            1.3           0.2  Iris-setosa
 3   4            4.6           3.1            1.5           0.2  Iris-setosa
 4   5            5.0           3.6            1.4           0.2  Iris-setosa,
 (150, 6))

In [9]:
iris.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [10]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [11]:
iris.Species.mode()

0        Iris-setosa
1    Iris-versicolor
2     Iris-virginica
Name: Species, dtype: object

In [12]:
data_iris=iris.groupby(by='Species')

#count
data_iris.count()

                 Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa      50             50            50             50            50
Iris-versicolor  50             50            50             50            50
Iris-virginica   50             50            50             50            50

In [29]:
data_iris.mean()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,25.5,5.006,3.418,1.464,0.244
Iris-versicolor,75.5,5.936,2.770,4.260,1.326
Iris-virginica,125.5,6.588,2.974,5.552,2.026

In [30]:
data_iris.median()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,25.5,5.0,3.4,1.50,0.2
Iris-versicolor,75.5,5.9,2.8,4.35,1.3
Iris-virginica,125.5,6.5,3.0,5.55,2.0

In [31]:
data_iris.max()

                  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa       50            5.8           4.4            1.9           0.6
Iris-versicolor  100            7.0           3.4            5.1           1.8
Iris-virginica   150            7.9           3.8            6.9           2.5

In [32]:
data_iris.min()

                  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa        1            4.3           2.3            1.0           0.1
Iris-versicolor   51            4.9           2.0            3.0           1.0
Iris-virginica   101            4.9           2.2            4.5           1.4

In [33]:
data_iris.std()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,14.57738,0.352490,0.381024,0.173511,0.107210
Iris-versicolor,14.57738,0.516171,0.313798,0.469911,0.197753
Iris-virginica,14.57738,0.635880,0.322497,0.551895,0.274650